@model GABENweb.Models.DbPlayer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DbPlayer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignatureHero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignatureHero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoloRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoloRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateStars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateStars)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
